@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "Olivera";
  src: url("../../fonts/Olivera.woff2") format("woff2"), url("../../fonts/Olivera.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  color: #333;
  font-family: "Pretendard-Regular";
}

body {
  background: url(../img/background.jpg) no-repeat center center/cover;
  min-height: 100vh;
}

.containerFix {
  width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.containerFix.wide {
  width: 1830px;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 36px;
  opacity: 0;
}
header .mainMenu ul {
  display: flex;
}
header .mainMenu ul li + li {
  margin-left: 50px;
}
header .mainMenu ul li a {
  display: block;
  font-family: "Lexend Peta", sans-serif;
  font-size: 18px;
  padding: 24px 0;
  letter-spacing: -0.14em;
}
header .mainMenu ul li.active a {
  color: #1B6DC5;
  font-weight: 600;
  position: relative;
}
header .mainMenu ul li.active a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #1B6DC5;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
}

main .secTt {
  font-family: "Olivera", serif;
  font-size: 80px;
  text-align: right;
}
main .mainSec {
  position: relative;
}
main .mainSec .mainTitle {
  padding: 33vh 0;
  width: 900px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
}
main .mainSec .mainTitle h3 {
  font-family: "Lexend Peta", sans-serif;
  font-size: 40px;
  color: #1B6DC5;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  position: relative;
  z-index: 1;
}
main .mainSec .mainTitle h2 {
  text-align: right;
  font-family: "Olivera", serif;
  font-size: 120px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}
main .mainSec .mainTitle .lineCircle {
  position: absolute;
  left: calc(50% - 560px);
  top: calc(50% - 230px);
  max-width: 100%;
}
main .mainSec .mainTitle .lineCircle .deco {
  position: absolute;
  transition: 3s 0.3s;
}
main .mainSec .mainTitle .lineCircle .deco.star {
  bottom: 0;
  left: 0;
  transform: rotate(0deg);
  animation: rotate 3s infinite linear;
}
main .mainSec .mainTitle .lineCircle .deco.flame {
  top: 0;
  right: 0;
  transform: rotate(0deg);
  animation: rotate_r 8s infinite linear;
  mix-blend-mode: plus-lighter;
}
main .mainSec .mainTitle .lineCircle .deco.colour {
  left: 50%;
  bottom: 0;
  mix-blend-mode: multiply;
}
main .mainSec .mainTitle .lineCircle svg {
  animation: dashLine 5s forwards;
  stroke-dashoffset: 2525;
  stroke-dasharray: 2525;
}
main .mainSec .type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
}
main .mainSec .type li {
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}
main .mainSec .type li:nth-child(2n) {
  text-align: right;
  margin-left: 10px;
}
main .mainSec .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
main .mainSec .scroll p {
  font-family: "Lexend Peta", sans-serif;
  font-size: 12px;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}
main .mainSec .scroll_arrow {
  display: inline-block;
  width: 8px;
  height: 15px;
  position: relative;
  animation: pop_down 1s infinite;
  transition: 0.3s;
}
main .mainSec .scroll_arrow:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main .mainSec .scroll_arrow:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid #333;
  border-width: 1px 1px 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  transform-origin: center center;
}
main .right_fixed {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(30%, -50%) rotate(90deg);
  font-family: "Olivera", serif;
  font-size: 24px;
  letter-spacing: 0.17em;
}
main .profile {
  padding: 180px 0;
}
main .profile > div {
  display: flex;
  justify-content: center;
}
main .profile_tt {
  font-family: "Olivera", serif;
  font-size: 30px;
  margin-right: 50px;
  width: 140px;
  text-align: right;
}
main .profile_txt {
  width: 52%;
}
main .profile_con {
  display: flex;
  align-items: flex-start;
}
main .profile_con + div {
  margin-top: 60px;
}
main .profile_con .career_li {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 8px;
}
main .profile_con .career_li li {
  position: relative;
}
main .profile_con .career_li li + li {
  margin-top: 10px;
}
main .profile_con .career_li li .marker {
  position: absolute;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
}
main .profile_con .career_li li .marker:before {
  content: "";
  display: block;
  width: 130%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
main .profile_con .career_li li .marker:after {
  content: "";
  display: block;
  width: 130%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
main .profile_con .career_li li p {
  padding-left: 34px;
  letter-spacing: 0.14em;
}
main .profile_con .career_li li p span {
  color: #999;
  font-size: 14px;
}
main .profile_con .skill_li {
  margin-top: -12px;
}
main .profile_con .skill_li li {
  padding: 5px 12px 3px;
  border: 1px solid #333;
  border-radius: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
  overflow: hidden;
  transition: 0.3s color;
  cursor: default;
  font-size: 14px;
}
main .profile_con .skill_li li:hover {
  background: #fff;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
main .profile_con .skill_li li .color {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #1B6DC5;
  z-index: -1;
  transition: 0.3s width;
}
main .profile_img {
  width: 420px;
  height: 530px;
  background: #e1e1e1;
  margin-right: 120px;
  border-radius: 210px;
}
main .work {
  padding: 120px 0;
}
main .workCate {
  display: flex;
  margin-top: -20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
main .workCate li {
  font-family: "Olivera", serif;
  font-size: 20px;
  color: #aaa;
}
main .workCate li.on {
  color: #333;
  font-weight: 600;
}
main .workCate li + li {
  margin-left: 12px;
  padding-left: 12px;
  position: relative;
}
main .workCate li + li:before {
  content: "";
  display: block;
  width: 1px;
  height: 18px;
  background: #aaa;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main .workCon li a {
  padding: 40px 25px;
  display: flex;
  position: relative;
}
main .workCon li a:hover .content .title {
  color: #1B6DC5;
}
main .workCon li a:hover .content p {
  color: #1B6DC5;
}
main .workCon li a:hover .workConImg:after {
  opacity: 0;
}
main .workCon li a:hover .workConLink {
  color: #1B6DC5;
}
main .workCon li a:hover .workConLink span:after {
  background: #1B6DC5;
  transform: translateY(-50%) rotate(90deg);
  opacity: 1;
}
main .workCon li a:hover .workConLink span:before {
  background: #1B6DC5;
}
main .workCon li + li {
  border-top: 1px solid #333;
}
main .workConTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36.364%;
}
main .workConTxt .cate {
  font-size: 16px;
  color: #666;
}
main .workConTxt .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 18px;
  overflow: visible;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  transition: 0.3s color;
}
main .workConTxt p {
  color: #666;
  font-size: 16px;
}
main .workConTxt .data {
  color: #aaa;
}
main .workConImg {
  width: 600px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
main .workConImg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 10%, transparent 100%);
  z-index: 1;
  opacity: 1;
  transition: 0.3s opacity;
}
main .workConImg img {
  width: 100%;
  position: absolute;
  top: 0px;
  transition: 1.5s;
}
main .workConLink {
  position: absolute;
  right: 30px;
  bottom: 60px;
  padding-left: 28px;
}
main .workConLink span {
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
main .workConLink span:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main .workConLink span:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
}

@keyframes dashLine {
  0% {
    stroke-dashoffset: 2525;
  }
  50% {
    stroke-dashoffset: -2525;
  }
  100% {
    stroke-dashoffset: -5050;
  }
}
@keyframes pop_down {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -5px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_r {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */